*{
	box-sizing:border-box
	margin:0;
	padding: 0;
}
li{
	list-style: none;s	
}

.box{
	width: 1920px;
}
.boxUl{
	width: 100%;
	display: flex;

}
.boxLi{
	border: 1px solid #f3f3f3;
	margin: 0 auto; 
	width: 16.6%; 
	justify-content: space-around; 
	text-align: left;  
	text-indent:2em;
	padding: 5px;

}
.boxLi img{
	margin: 0 auto;

}
.boxLi p{
	padding: 20px;
}